@charset "utf-8";
/*
* author: 许晓旭 
* date: 2015-06-06
* scope: 营销策略配置(yxclpz.html)、活动查看(hdck.html)、事件配置弹出框(sjpz-tck.html)
*/
.active-tab2{  position:absolute; top:0px; bottom:0px; right:0px; left:0px;}
.cate-content{ border:1px solid #c9c9c9; border-bottom:0px; margin-left:30px; margin-top:12px;}
.accrodion-tab{ height:25px; background-color:#eeeeee; border-bottom:1px solid #c9c9c9;line-height:25px; padding-left:10px; position:relative; cursor:pointer}
.accrodion-content{ height: 307px; border-bottom:1px solid #c9c9c9; display:none; padding-top:7px; padding-left:12px; padding-right:12px; position:relative;}
.accrodion-content.selected{ display:block}
.accrodion-tab a{ background:url(../images/common/icon_max.png) no-repeat; height:16px; width:16px; display:inline-block;float:right;padding-right:10px; margin-top:5px;}
.accrodion-tab.selected span{ color:#ff6000;}
.accrodion-tab.selected a{ background:url(../images/common/icon_min.png) no-repeat;}
.search-box{ height:21px; width:260px;}
.search-area{ display:inline-block; position:relative;}
.label-opt-area{ display:inline-block; float:right;}
.act-content-left>div.search-area>input.search-box{  width:100%;}
.search-btn{ position:absolute;right:10px; top:50%; margin-top:-8.5px;}
.head-opt-btn{ padding-bottom:5px;}
.page-sum-info{ color:#999999; padding-left:6px;}
.page-list{ position:absolute; bottom:11px; width:98%;height:17px;line-height:17px;}
.page-box{ display:inline-block; float:right}
.page-box>div.divselect{ width:34px}
.page-box>div.divselect cite{ width:auto}
.page-box>div.divselect ul{ width:34px;}
.table-content-box{ height:251px; overflow:auto}
.cate-left-icon{ }
.icon-cate{ background:url(../images/common/gdt_3.png) ; width:22px; height:40px; position:absolute; left:-28px;}
.icon-cate_2{ background:url(../images/common/gdt_6.png) ; width:22px; height:352px; position:absolute; left:-28px; top:3px;}
.icon-cate_first{ background:url(../images/common/gdt_10.png) ; width:22px; position:absolute; left:-28px; height:40px;}
.icon-cate_first_2{ background:url(../images/common/gdt_11.png) ; width:22px; position:absolute; left:-28px; height:356px;}
.icon-cate_last{ background:url(../images/common/gdt_9.png) no-repeat ; width:22px; position:absolute; left:-28px; height:40px; top:-1px;}
.icon-cate_last_2{ background:url(../images/common/gdt_7.png) ; width:22px; position:absolute; left:-28px; height:352px;}
.label-tabs_2{ width:100%}
.label-tabs_2>ul>li{ display:inline; width:100%; position:relative}
.for_more_tab{ position:absolute; left:0px; width:95%; border:1px solid #ffa93a; z-index:100; background-color:#fff; display:none}
.for_more_tab>li{ text-align:center; height:25px; line-height:25px; border-top:1px solid #ffa93a}
.for_more_tab>li:first-child{ border-top:0px;}
.for_more_tab>li:hover{ color:#ff6000}
.label-tabs_2>ul>li>a{ font-size: 12px; display: inline-block; text-align:center;height: 25px; width:9.8%;line-height: 25px; position: relative; background-color: #d7eaff;border: solid 1px #1b7fe7; margin-left:-7px; font-family:simsun;}
.label-tabs_2>ul>li>a.border_selected{ border-left:solid 1px #ffa93a;}
.label-tabs_2>ul>li>a.selected{background-color: #fffaba; border-color: #ffa93a; }
.label-tabs_2>ul>li>ul.for_more_tab>li>a.selected{background-color: #fff; border-color: 0px;}
.button-b{ display: inline-block; color:#1b7fe7; }
.label-tabs_2>ul>li:hover>a{ background-color: #fffaba; border-color: #ffa93a;}
.label-tabs_2>ul>li:hover ul.for_more_tab{ display:block}
.view-cate-style{  margin-top:12px; margin-right:0px;display:none}
.label-tabs-content>div.view-cate-style.selected{ display:block}

.icon-cate-woman{ background-image: url(../images/common/woman_pic.png); width: 110px; height: 80px; }
.waiting-for{ font-size:30px; color:#4d97e3; opacity:0.3}

.cate-slick-item{ text-align: center;}
.cate-slick-content{  width:160px; height:199px;border:1px dashed #bedcfe }
.for_w{ line-height:199px;}
.for_showed{ display:none}

.cate-slick-item i{ margin-bottom: 18px; height: 80px; background-repeat: no-repeat; margin-top:34px; }
.view-cate-style div.slick-slide{ height:201px; }
.view-cate-style>div.common-box{border: 0px solid #dfdfdf; background-color: #fff; padding:0px 0px;}
.cate-slick-item i.icon-slick-edit{ padding-right:15px;}
.edit-box{ float:right; padding-right:18px;}

.act-content-left>div.search-area{ float:none; width:260px;}
.act-content-left{ float:left; width:282px; margin-left:-300px; border-right:1px solid #e2e2e2; height:304px; margin-top:-7px; padding-top:10px;}
.act-content-right{ display:inline-block; width:100%;}
.act-content-title{ margin-bottom:10px;}
.act-content{}
.act-float{ float:right}
.act-data-tree{ width:267px; height:252px; overflow:auto; background:url(../images/common/tree-data.png) no-repeat}
.act-content-box{  margin-left:300px;}
/*
.icon-cate-cont{  background:url(../images/common/gdt_2.png) center repeat-y;height:320px; position:absolute; left:-28px; width:22px; top:-10px;}

.icon-cate-cont{  height:320px; position:absolute; left:-28px; width:22px; top:-10px;border-left:4px solid #4d97e3}*/

/*活动查看*/
.view-content{  top:10px; left:10px; right:10px; bottom:10px; position:absolute; height:550px; overflow:hidden; }
.head-opt-area{ margin-bottom:10px; height:25px; border-bottom:1px solid #e2e2e2}
.opt-right{ display:inline-block; float:right}
.opt-right a{ color:#1b7fe7; padding-left:4px;}
.opt-right a:hover{ color:#ff6000;}
.view-left-tb{ height: 499px; overflow:hidden; width:265px; margin-left:-280px; display:inline-block; float:left}
.view-left-tb table.common-table2{ width:100%;}
.view-left-tb table.common-table2 tr td{ max-width:128px; word-wrap:break-word;overflow:hidden }
.view-left-tb table.common-table2 tr td:first-child{ width:93px; word-wrap:break-word;}
.view-right-tab{ width:100%; display:inline-block;}
.view_bor{border:1px solid #c9c9c9; border-bottom:0px;}
.view-cate-content{   margin:0px auto; margin-top:12px; margin-right:0px;display:none; margin-left:28px;}
.view-label-tabs{ padding-left:41px}
.act-content>div{ background-color:#d7eaff; height:36px; line-height:36px; padding-left:12px; padding-right:12px;margin-bottom:7px;}
.label-tabs-content>div.view-cate-content.selected{ display:block}
.view-area-box{ margin-left:280px;}
.accrodion-tab2{ height:36px; background-color:#eeeeee; border:1px solid #c9c9c9;line-height:36px; padding-left:10px; position:relative;}
.accrodion-content2{ height: 187px; padding-top:7px; padding-left:12px; padding-right:12px; position:relative; border-left:1px solid #c9c9c9;border-right:1px solid #c9c9c9}
.view-cate-content.bor_bt{ border-bottom:1px solid #c9c9c9; margin-left:0px;}
.status-opt{ float:right}
.status-time-box{ height:21px; margin-bottom:10px;}
.time-bar{ background:url(../images/common/time_bar.png) left no-repeat; background-color:#eeeeee; border-radius:5px; width:100%;  height:40px; margin-bottom:16px;}
.status-bar{ background:url(../images/common/status_bar.png) left no-repeat;background-color:#eeeeee;border-radius:5px; width:100%;  height:40px;}
.status-content{ padding-top:45px;}
.status-content ul li{ display:inline-block; width:13%; height:36px; border:1px solid #1b7fe7; color:#1b7fe7;line-height:36px; text-align:center; font-weight:bold; border-radius:16px; position:relative}
.status-content ul li span{ position:absolute; color:#000; font-weight:normal; width:80px; top:37px; left:50%; margin-left:-40px;}


/*事件配置弹出框*/
.set_act_content{ position:relative;}
.set-action-box{ height:350px; width:600px; position:absolute; border:1px solid #3b6ad5; z-index:1004; display:none; left:50%; top:50%; margin-left:-300px; margin-top:-175px;}
.set-action-opt{ margin:0 auto; width:120px; height:30px;}
.set-title{ float:right; }
.set-action-content{ padding-top:10px; padding-right:10px;}
.set-content>div.divselect{ width:162px; height:20px;}
.set-content>div.divselect cite{ width:154px; padding-right:4px; padding-left:4px;}
.set-content>div.divselect ul{ width:162px;}
.set-content{ width:400px; margin:20px auto;}
.store-check{ margin-top:15px; margin-left:65px;}
.store-check>div{ display:inline-block; width:163px; margin-bottom:12px;}
.store-check>div>input{ vertical-align:middle; margin-bottom:2px;}
.store-check>div>label{ padding-left:7px;}

/*高级运算弹出框*/
.complex-box{ height:369px; width:684px; position:absolute; border:1px solid #3b6ad5; z-index:1004; display:none; left:50%; top:50%; margin-left:-300px; margin-top:-175px;}
.complex-rst{ height:250px; overflow:auto;}
.complex-rst>table tr>td{ padding-left:10px;}
.complex-rst>table tr>td>div{ border:1px solid #a4cfff; background-color:#eaf3fe; height:25px; line-height:25px; width:610px; padding-left:10px;}
.complex-rst>table tr>td>div.selected{ border:1px solid #ffa93a; background-color:#FFF}
.com-action-opt{ width:305px; margin:0 auto; height:60px; line-height:60px;}

