/* iCheck plugin Polaris skin
----------------------------------- */
.icheckbox_polaris,
.iradio_polaris {
    display: inline-block;
    *display: inline;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 15px;
    background: url(my.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_polaris {
    background-position: 0 0;
}
    .icheckbox_polaris.hover {
        background-position: -30px 0;
    }
    .icheckbox_polaris.checked {
        background-position: -60px 0;
    }
    .icheckbox_polaris.disabled {
        background-position: -90px 0;
        cursor: default;
    }
    .icheckbox_polaris.checked.disabled {
        background-position: -120px 0;
    }

.iradio_polaris {
    background-position: -150px 0;
}
    .iradio_polaris.hover {
        background-position: -180px 0;
    }
    .iradio_polaris.checked {
        background-position: -210px 0;
    }
    .iradio_polaris.disabled {
        background-position: -240px 0;
        cursor: default;
    }
    .iradio_polaris.checked.disabled {
        background-position: -270px 0;
    }

