@charset "utf-8";
/* CSS Document */
html{ font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100% }
body {margin:0; padding:0; font:14px "\5FAE\8F6F\96C5\9ED1",san-serif; color:#333}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
input,textarea,select{font-family:"\5FAE\8F6F\96C5\9ED1";}
table,td,tr,th{font-size:14px;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}
ol,ul {list-style:none;}
address,cite,code,em,th {font-weight:normal; font-style:normal;}
a{ text-decoration:none}
.left{ float:left}
.right{ float:right}
.clear{ clear:both}
.tc{ text-align:center}
.tr{ text-align:right}
/**/
*{box-sizing:content-box}
.row{ margin:0px}
.row:after{ clear:both; content:""}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666667%;}
.col-xs-7 {width: 58.33333333%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-4 {width: 33.33333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}
.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1{ float:left; position:relative; padding:0px}

span.up{ color:#26a61d}
span.down{ color:#eb5744}

table.date-grid{ border-collapse:collapse}
table.date-grid th{ background-color:#ace2d8; height:31px; line-height:31px; text-align:center; border-bottom:1px solid #c2c1c1}
table.date-grid span{ display:inline-block; padding-right:10px; background-repeat:no-repeat; background-position:right center; cursor:pointer}
table.date-grid span.order-down{ background-image:url(../images/common/order_down.png);}
table.date-grid span.order-up{ background-image:url(../images/common/order_up.png);}
table.date-grid span.order-normal{ background-image:url(../images/common/order_normal.png);}
table.date-grid td{ line-height:25px; border-bottom:1px dashed #c2c1c1; text-align:center}
table.date-grid tr:nth-child(2) td{ padding-top:8px}
table.date-grid tr:last-child td{border-bottom:none}

table.table-set{border-collapse:collapse;  }
table.table-set th{ border-bottom:1px solid #315baa; text-align:center; line-height:30px}
table.table-set td{ text-align:center; border-bottom:1px dashed #8faebb;line-height:25px}
table.table-set tr td:first-child{ text-align:left; text-indent:20px; color:#305baa}
table.table-set tr.item-group td:first-child{ color:#333}
table.table-set tr:nth-child(2) td{ line-height:33px}
table.table-set tr:last-child td{ border-bottom:none}
table.table-set input[type="text"]{ width:148px; height:21px; line-height:21px; background-color:#fff; border:1px solid #97c2ff; display:none}

/*头部*/
.head{ background-color:#2f5baa}
.head-top-section{ height:70px; background:url(../images/common/top_right_bg.png) no-repeat right;}
.logo{ font-size:28px; color:#fff; font-weight:bold; line-height:70px; margin-left:36px; margin-right:30px; float:left; font-weight:normal; letter-spacing:3px}
.all-menu{ background:url(../images/common/all_menu.png) no-repeat; width:24px; height:10px; margin-top:38px; margin-right:20px; float:left; cursor:pointer}
.menu{ float:left; margin-top:31px}
.menu a{ color:#80acec; font-size:18px; }
.menu a b{display:inline-block;background:url(../images/common/menu_arr.png) no-repeat; width:10px; height:7px; margin-left:5px;}
.menu li{ float:left; width:117px; text-align:center; height:29px; line-height:29px; position:relative; margin-right:10px}
.menu li:hover{ background-color:#96c3ff; border-radius:8px}
.menu li:hover a{color:#305baa}
.menu li.selected{ background-color:#96c3ff; border-radius:8px}
.menu li.selected a{color:#305baa}
.menu li .nave-pupmenu{position:absolute;z-index:999; top:30px; left:27px; display:none}
.menu li:hover .nave-pupmenu{ display:block}
.menu li .nave-pupmenu b{ background:url(../images/common/naveMenu_arr.png) no-repeat; width:19px; height:10px; display: block; margin-left:30px}
.menu li dl{ background-color:#0ca3e5; height:20px; padding:12px 20px; border-radius:8px; color:#fff; overflow:hidden}
.menu li dd{ float:left; width:100px; text-align:center; border-left:1px solid #fff; line-height:20px}
.menu li dd:first-child{border-left:1px solid #0ca3e5}
.menu li dd a{ color:#fff; font-size:16px;}
.menu li dd a:hover{ color:#0e1336}
.login-info{ float:right; height:31px; line-height:31px; margin-top:35px; margin-right:13px}
.login-info a{ color:#a5d4f3; font-size:14px; }
.help{ background:url(../images/common/help.png) no-repeat; width:31px; height:31px; display:inline-block; vertical-align:middle; margin-left:7px}
.help:hover{background:url(../images/common/help_over.png) no-repeat;}
.tools-section{ height:29px; background-color:#96c3ff; padding:7px 57px 7px 128px; position:relative}

.area-box{ padding-right:14px; margin-right:25px;  float:left; margin-left:-91px}
.area{ height:29px; line-height:29px; color:#29379c; font-size:18px; cursor:pointer; background:url(../images/common/menu_arr.png) no-repeat right; padding-right:15px; position:relative;}
.area-pup-box{ position:absolute; border:1px solid #94c3ff; background-color:rgba(255,255,255,1); padding:10px 20px; overflow:hidden; color:#fff; z-index:9999; width:610px; display:none}
.area-pup>div{ padding-left:50px; clear:both; display:none}
.area-pup>div:first-child{ display:block}
.area-pup>div>dt{ width:50px; margin-left:-50px; color:#333; float:left; height:25px; line-height:28px;}
.area-pup>div>dl{ width:100%; display:none}
.area-pup>div:first-child>dl{ display:block}
.area-pup>div>dl>dd{ float:left; color:#2e5caa; cursor:pointer; margin:0px 5px; height:28px; line-height:28px; width:60px;}
.area-pup>div>dl>dd.selected{ color:#fe6100}
.area-pup>div>dl>dd:hover{color:#fe6100}
.area-pup-btn{ clear:both; text-align:center; padding-top:10px}
.btn{ background-color:#0ca3e7; color:#fff; border:none; height:25px; line-height:25px; width:70px}

.tools-timeline{ padding-left:132px; }
.timeline-control-box{ margin-left:-132px; float:left; width:112px}
.timeline-control li{ float:left; width:36px; text-align:center; color:#29379c; border-left:1px solid #4286fb; cursor:pointer;border:1px solid #4286fb;height:24px; line-height:24px; margin-left:-1px}
.timeline-control li:first-child{ border-top-left-radius:12px;border-bottom-left-radius:12px;}
.timeline-control li:last-child{border-top-right-radius:12px;border-bottom-right-radius:12px;}
.timeline-control li.selected{ background-color:#4286fb; color:#fff}
.timeline .data{height:20px; line-height:20px;}
.timeline .data-select-block{ padding:0px 20px}
.timeline .data{margin:0px 20px; position:relative; overflow:hidden}
.timeline .data ul{position:relative}
.timeline .data li{ cursor:pointer}
.timeline .data li,.timeline .data-select-block li{ float:left;color:#29379c; width:14.28%; text-align:center}
.timeline .data li.dis{ color:#999;}
.timeline .data-select-block{ height:8px; background-color:#fff; border-radius:3px}
.timeline .data-select-block li{ height:8px;}
.timeline .data-select-block li.selected{ background-color:#4286fb; border-radius:3px}

.tools-seach{ position:absolute; right:0px; height:43px; width:48px; top:0px; background:url(../images/common/tools_seach_btn.png) no-repeat center; cursor:pointer}
.tools-seach:hover{ background:url(../images/common/tools_seach_btn_s.png) no-repeat center;}

/*暂无数据*/
.nodata{ background:url(../images/common/no_data.png) no-repeat center rgba(255,255,255,0.3); border:1px solid #eee; background-size:contain;}
.nodata>*{ visibility:hidden}

/*表格*/
table.table-grid{ border-collapse:collapse;}
table tr td:first-child{ color:#3b6ad5}
table tr td:nth-child(2){ color:#3b6ad5}
table.table-grid th{ border-bottom:1px solid #c2c1c1; line-height:21px;text-align:center; font-weight:bold}
table.table-grid tr:nth-child(2) th{ border-top:0}
table.table-grid td{ border-top:1px dashed #c2c1c1; line-height:18px; text-align:center}
table.table-grid tr:last-child td{border-bottom:none}

.download{ background:url(../images/common/icon_download.png) no-repeat right; width:18px; height:15px; display:inline-block; position:relative; padding-left:5px}
.download:hover{background:url(../images/common/icon_download_s.png) no-repeat right;}
.download .downlaod-pup{ width:195px; background-color:rgba(255,255,255,1); border:1px solid #e3e3e3; position:absolute; left:-225px; padding:15px; text-align:left; display:none}
.download:hover .downlaod-pup{ display:block}
.download .downlaod-pup li{ border-bottom:1px solid #e3e3e3;}
.download .downlaod-pup li:last-child{border-bottom:none}
.download .downlaod-pup a{ display:block; height:30px; line-height:30px; background:url(../images/common/icon_clue.png) 8px center no-repeat; padding-left:43px; color:#315baa}
.download .downlaod-pup a:hover{background:url(../images/common/icon_clue_s.png) 8px center no-repeat;color:#ff6000}

/*流量秘书*/
.content{  position:relative;overflow:hidden}
.main-part01{ width:93%; height:21px; margin:0 auto; margin-top:10px}
.main-part01 label{ color:#305baa; font-weight:bold}
.part01-icon{ background:url(../images/common/s3_title_icon.png) no-repeat;width:10px;height:11px;display:inline-block}
.main-part02{ width:92%; height:21px; margin:0 auto; border-bottom:1px solid #b3dbfd; padding-left:20px;}
.main-part02>ul>li{ display:none; float:left}
.main-part02>ul>li.selected{ display:block}
.main-part02-list{ }
.part02-icon01{ background:url(../images/common/service_arr02.png) no-repeat center; width:11px;height:19px;display:inline-block; float:left;}
.part02-icon02{ background:url(../images/common/service_arr03.png) no-repeat center; width:11px;height:19px; display:inline-block; float:left}
.main-part02-list li{ float:left; color:#6e8ac0; margin-left:70px;}
.main-part02-list li a{ color:#6e8ac0;}
.main-part02-list li.selected{ border-bottom:3px solid #4385fb}
.main-part02-list li:last-child{ margin-right:70px}
.main-part03{ width:93%; height:482px; margin:3px auto}
.main-part03-left{ float:left; margin-top:10px}
.part03-icon{ background:url(../images/common/s4_title_icon.png) no-repeat center; width:9px;height:21px; display:inline-block; float:left}
.main-part03-left label{ font-weight:bold; font-size:16px}
.chart_t{ margin-top:20px}
.chart_b{ margin-top:20px}
.left-chart_b{ margin-top:30px}
.main-part03-right{ float:right;}
.right-table_t{ width:600px; height:233px}
.right-table_b{ position:relative;width:600px; height:233px; margin-top:10px}
.table_b-more{ position:absolute; right:3px;top:3px; font-size:smaller; cursor:pointer}
.full-page{ position:relative;}
.full-page>li{ margin:0px auto; height:100%;}
.full-page>li>div{ clear:both; margin:0px auto;-ms-transform-origin: 50% 0%;-webkit-transform-origin: 50% 0; height:100%}
.page-choice{ position:absolute; right:10px; top:45%;}
.page-choice li{ height:46px; width:7px; background-color:#96c3ff; margin-bottom:5px; cursor:pointer;}
.page-choice li.selected{ background-color:#4286fb}

/*用户规模细分*/
.u-scale{ width:1018px; margin:0 auto}
.u-scale-title{ font-size:18px; margin-top:10px}
.u-scale-title a{ color:#305baa}
.u-scale-title span{ color:#ff6000}
.u-scale-content{ margin-top:10px}
.u-scale-content label{ font-size:16px; font-weight:bold}
.u-scale-left{ float:left; width:663px; position:relative}
.scale-left-main{ border-top:1px dashed #97bdff; margin-top:3px; height:385px; overflow:auto}
.scale-left-main ul{ margin-left:-16px}
.scale-left-main>ul>li{ float:left; width:148px; margin-left:16px; margin-top:16px;}
.scale-left-main h3{ color:#305baa; font-size:18px; width:148px; height:95px; margin: 0 auto; display:table-cell; vertical-align:middle}
.scale-left-main h4{ color:#305baa; margin-top:10px;}
.scale-box{ height:95px;; border:1px solid #93c3fc; border-left:4px solid #4187fb; background-color:#fff; text-align:center; overflow:hidden;}
.scale-box{ cursor:pointer}
.scale-box .top{ height:95px;}
.scale-box li{ float: left; font-size:10px; margin-left:20px; width:58px; margin-top:3px}
.scale-box div:last-child{ height:97px;}
.scale-left-main .scale-box.selected{border-color:#ff8801; border-left-color:#fe8700}
.scale-left-commit{ width:210px; height:23px; margin: 0 auto;}
.scale-left-commit button{ width:63px;height:22px;line-height:22px;color:#FFF;background-color:#3b6ad5;border:0;cursor:pointer}
.u-scale-right{ float:right; width:323px}
.scale-table{ border-top:1px dashed #97bdff; padding-top:10px;margin-top:3px}
.scale-table table tr td:nth-child(2){ color:#000}
.scale-table table th,td{ height:28px;}
.scale-box-frame{ width:130px; height:150px;position: absolute; left:147px; top:15px; display:none}
.frame-icon{ width:0px;height:0px;border-top: 13px solid transparent;border-left: 13px solid #ff8801;border-bottom: 13px solid transparent; float:left; margin-top:67px}
.scale-box-frame-inner{ width:101px; height:145px;border:1px solid #ff8801;padding:10px 0 0 14px; background-color:#FFF; float:right;}
.scale-box-frame-inner div{ margin-top:2px}
.scale-box-frame-inner div:first-child{ margin-top:8px}
.scale-box-frame-inner span{ color:#305baa;}
.scale-box-frame-inner input{ color:#95c2ff; cursor:pointer}
.state{ display:none}

/*客户洞察*/
.content{  overflow:hidden}
.main-part{ width:1106px; margin: 0 auto;position:relative;}
.main-part02{ width:1106px;height:35px; border-bottom:1px solid #b3dbfd; margin-left: 0px; padding-left:0px; margin-top:15px; padding-bottom:10px}
.page-title{ background:#96c3ff url(../images/common/page_t_icon.png) left center no-repeat; height:34px; line-height:34px;    border-radius:99px; display:inline-block; padding-left:48px; padding-right:29px; color:#305baa; font-size:22px;}
.page-title-next{ display:inline-block; margin-left:30px;}
.page-title-next a{ color:#305baa; font-size:16px}
.page-title-next a:hover{ color:#ff6000}
.page-title-next span{ color:#305baa;}
.page-title-next a:hover span{ color:#ff6000}
.main-part03{ width:1106px;height:716px; margin-top: 10px; margin-left:0px}
.main-part03-left{ float:left; margin-top:10px}
.part03-icon{ background:url(../images/common/s4_title_icon.png) no-repeat center; width:9px;height:21px; display:inline-block; float:left}
.main-part03-left label{ font-weight:bold; font-size:16px}
.chart_t{ margin-top:20px}
.chart_b{ margin-top:20px}
.left-chart_b{ margin-top:48px}
.main-part03-right{ float:right; margin-top:10px;}
.right-table_t{ width:480px;height:233px}
.right-table_p{ position:relative; margin-top:19px}
.table_b-more{ position:absolute; right:3px;top:3px; font-size:smaller; cursor:pointer}
.full-page{ position:relative;}
.full-page>li{ margin:0px auto; height:100%;}
.full-page>li>div{ clear:both; margin:0px auto;-ms-transform-origin: 50% 0%;-webkit-transform-origin: 50% 0; height:100%}
.page-choice{ position:absolute; right:-37px; top:227px;}
.page-choice li{ height:46px; width:6px; background-color:#96c3ff; margin-bottom:5px; cursor:pointer;}
.page-choice li.selected{ background-color:#4286fb}
.right-table_t table.table-grid tr th,td{ height:18px; text-align:right; padding-right:35px;}
.right-table_t table td{ font-size:12px;text-align:right; padding-right:35px;}
.right-table_t th a{ font-size:12px; color:#888e92}
.rigth-table_t table.table-grid tr th a:hover{ color:#ff6000}
.right-table_t table.table-grid tr th:nth-child(6){ text-align:right;width:40px; padding-right:0px;}
.right-table_t table.table-grid tr td:nth-child(3){ color:#3b6ad5}
.right-table_t table.table-grid tr th:nth-child(2){ padding-right:65px;}
.right-table_t table.table-grid tr td:nth-child(2){ padding-right:65px;}

.right-table_t table.table-grid tr td:nth-child(4){ padding-right:45px;}
/*
.right-table_t table.table-grid tr td:nth-child(5){ text-align:right;padding-right:30px;}
*/
.a_hover a:hover{ color:#ff6000}
/*
.right-table_t table.table-grid td{ text-align:right; padding-right:20px;}*/

/*客户洞察-用户转化率*/
.main-part01{  height:24px; margin-left:0px; margin-top:10px;font-size:18px}
.main-part01 a{ color:#305baa}
.main-part01 span{ color:#ff6000}
.main-part_2{ width:1106px; height:21px; margin:0 auto; border-bottom:1px solid #b3dbfd; margin-top:10px}
.part_2-in{ float:right}
.part_2-in label{ color:#8e9193}
.main-part_2 li{ float:left; margin-left:50px}
.main-part_2 li:first-child{ margin-left:120px}
.main-part_2 li a{ color:#305baa}
.main-part_2 li.selected{ border-bottom:3px solid #4385fb;}
.main-part_2 li.selected a{ color:#4385fb}
