
[class*=_selectPicker]{font-size: 0;line-height: 1;outline: none;position: relative;display:inline-block;*display:inline;*zoom:1;}
[class*=_selectPicker] .trigger{position:absolute; display: inline-block;width: 9px;height: 6px;cursor: pointer;right:5px;background:url(./trigger.png) no-repeat;}
[class*=_selectPicker] .trigger.active{background-position:0 0;}
[class*=_selectPicker] .display{*display:inline;*zoom:1;display: inline-block;vertical-align: middle;font-size: 14px;cursor: pointer;line-height: 38px;text-align: left;padding-left: 20px;outline: none;}
[class*=_selectPicker] .list{margin:0;padding:0;width:100%;display: none;list-style: none; list-style: none;border:1px solid #1397dc; position: absolute;left:0px;z-index: 999;overflow: auto;}
[class*=_selectPicker] .list.active{display: block}
[class*=_selectPicker] .list > li{ padding: 0 20px;cursor: pointer;font-size: 12px;background-color:rgba(62,76,142,0.88);color:#a5d4f3;}
[class*=_selectPicker] .list > li:hover{ color: white;}
[class*=_selectPicker] .list > li[data-selected=selected]{ color: white;}

[class*=_selectPicker].select_disabled .display{background: #F5F5F5}
[class*=_selectPicker].select_readOnly .display{background: #F5F5F5}