@charset "utf-8";
/* CSS Document */

/*头部*/
.mian-body{ overflow:hidden}
.head{ height:85px; background-color:#4d98e4; min-width:1000px; position: relative; }
.head .top{ height:55px;  }
.logo{ float:left; background:url(../../images/head/logo_cmcc.png) no-repeat; width:49px; height:55px; margin-left:14px; }
.system{ float:left; font-size:16px; font-family:'\5FAE\8F6F\96C5\9ED1'; color:#fff; font-weight:bold; margin-left:11px; margin-top:5px; line-height:1.4; }
.top-seach{ float:left; margin-left:86px; padding-top:13px; }
.top-seach .ipt-seach-txt{ width:232px; height:30px; line-height:30px; background-color:#fff; border:none; vertical-align: middle; padding:0px 8px; outline: none; }
.top-seach .ipt-seach-btn{ width:58px; height:30px; background:#a4d0fe url(../../images/head/icon_top_seach.png) no-repeat center; border:none;vertical-align:middle; }
.top-seach .ipt-seach-btn:hover{ background:#ffa93a url(../../images/head/icon_top_seach.png) no-repeat center; }
.nave{ float:right; }
.nave li{ float:left; line-height:54px; }
.nave li a{ color:#e3edff; font-size:14px; margin-right:30px; }
.nave li a:hover{ color: #fff9bb; }
.c-red{ color: #f00; }
.c-green{ color: #2bbe38; }

.banner{ background-color:#a4d0fe; height:30px; }
.tabs-iframe{ float: left; }
.tabs-iframe li{ float:left; margin-left:3px; padding-top:5px; position:relative; }
.tabs-iframe span{ display:inline-block; }
.tabs-iframe b.close{ background:url(../../images/head/tabitem_content_close.png) no-repeat; width:8px; height:8px; position:absolute; right:6px; top:13px; cursor: pointer; }
.tabs-iframe b.close:hover{background:url(../../images/head/tabitem_content_close.png) no-repeat right;}
.tabs-iframe ul{ float: left; height: 30px; }
.menu-tab{ background:url(../../images/head/tabitem_content_bg.png) no-repeat left bottom; padding-left:5px; cursor:pointer; }
.menu-tab-r{ background:url(../../images/head/tabitem_content_bg.png) no-repeat right bottom; padding-right:5px; }
.menu-tab-c{ height:25px; line-height:25px;  background-color:#d4e1fa; padding-left:15px; color: #666666; }
.tabs-iframe li.active .menu-tab{ background-image: url(../../images/head/tabitem_content_index_bg.png); }
.tabs-iframe li.active .menu-tab-r{ background-image: url(../../images/head/tabitem_content_index_bg.png);}
.tabs-iframe li.active .menu-tab-c{ background-color: #f7f7f7; color: #333333; }
.tabs-iframe .menu-tab-c{ padding-right:15px; }
.tabs-iframe .menu-tab-c-r{ padding-right:20px; }
.icon-nav{ background-image: url(../../images/head/icon_nav.png); width: 27px; height: 22px; }
.banner .menu{ float: left; margin: 5px 5px 0 15px; }
.ext-iframe-btn{ height: 12px; float: left; margin-left: 3px; vertical-align: bottom; margin-top: 18px; }
.ext-iframe-btn .menu-tab{ background-position: left top; height: 12px; }
.ext-iframe-btn .menu-tab-r{ background-position: right top; height: 12px; }
.ext-iframe-btn .menu-tab-c{ height: 12px; padding: 0 1px; }
.ext-iframe-btn .menu-tab-c .icon-down{ margin-top: 5px; }
.tabs-iframe .ext-iframe-btn:hover .menu-tab{ background-image: url(../../images/head/tabitem_content_index_bg.png); }
.tabs-iframe .ext-iframe-btn:hover .menu-tab-r{ background-image: url(../../images/head/tabitem_content_index_bg.png); }
.tabs-iframe .ext-iframe-btn:hover .menu-tab-c{ background-color: #f7f7f7; }
.icon-down{ background-image: url(../../images/head/icon_down.png); width: 7px; height: 4px; }
.tabs-iframe .ext-iframe-btn:hover .icon-down{ background-image: url(../../images/head/icon_down_active.png); }
.user-action{ color: #fff; float: right; height: 30px; line-height: 30px; }
.user-action i{ margin-right: 10px; }
.icon-collection{ background-image: url(../../images/head/icon_collection.png); width: 20px; height: 18px; }
.icon-help{ background-image: url(../../images/head/icon_help.png); width: 19px; height: 19px; }
.icon-enter{ background-image: url(../../images/head/icon_enter.png); width: 19px; height: 14px; }
.icon-exit{ background-image: url(../../images/head/icon_exit.png); width: 15px; height: 14px; }
.icon-collection:hover{ background-image: url(../../images/head/icon_collection_active.png); }
.icon-help:hover{ background-image: url(../../images/head/icon_help_active.png); }
.icon-enter:hover{ background-image: url(../../images/head/icon_enter_active.png); }
.icon-exit:hover{ background-image: url(../../images/head/icon_exit_active.png); }
.iframe-div{ position:absolute; top:86px; left:0px; right:0px; bottom:0px; overflow: hidden;}

/*下拉菜单*/
.menu-content{ width: 180px; position: absolute; top: 85px; left: 0; /* min-height: 563px;*/ background-color: #e1f0ff; opacity: 0.98; border: 2px solid #a8d1ff; border-left: 0; z-index: 100; display: none; }
/*修改开始*/
.menu-user{ padding: 0 20px; margin-bottom: 20px; }
.menu-user .menu-avatar{ vertical-align: middle; margin: 10px; margin-left: 0; }
.menu-username{ font-size: 14px; vertical-align: middle; }
.menu-user p{ line-height: 18px; }

/*.menu-list{ position: absolute; top:134px; bottom: 10px; left: 0px; right: 0px; }*/
.menu-list1{ text-align: center; padding-bottom: 20px; }
.menu-list1 > li, .menu-list2 > li{ cursor: pointer; position: relative; }
.menu-list1 .menu-list1-t{ font-size: 14px; }
.menu-list1 > li > a, .menu-list2 > li > a{ height: 30px; line-height: 30px; display: block; }
.menu-list1 > li > a > span, .menu-list2 > li > a > span{ width: 100px; border-top: 1px solid #fff; display: inline-block; height: 30px; line-height: 30px; }
.menu-list1 > li:hover > a{/* background: #fff; border: 1px solid #ffa93a;*/ /* margin-top: -1px; margin-right: -1px;*/ z-index: 100; color: #ff6000; font-weight: bold; position: relative; z-index: 100; height: 29px; line-height: 29px; }
.menu-list2 > li:hover > a{ background: #fff; border: 1px solid #ffa93a;  margin-top: -1px; margin-right: -1px; z-index: 100; color: #ff6000; font-weight: bold; position: relative; z-index: 100; height: 29px; line-height: 29px;  }
.menu-list2 > li:hover > a{ border-right: 0; }
.menu-list2 > li:hover > a > span{ border-top: none; }
.icon-right-oran{ background-image: url(../../images/head/icon_right_oran.png); width: 5px; height: 9px; }
.menu-list1 > li > .icon-right-oran, .menu-list2 > li > .icon-right-oran{ display: none; position: absolute; right: 10px; top: 10px; }
.menu-list1 > li:hover > .icon-right-oran, .menu-list2 > li:hover > .icon-right-oran{ display: block; z-index: 100; }
.menu-list1 > li:hover .menu-list2{ display: block; }
.menu-list2{ display: none; position: absolute; z-index: 99; left: 180px; _top: -21px; width: 180px; text-align: center; background-color: #e1f0ff; opacity: 0.98; border: 2px solid #a8d1ff; /*border-left: 0;*/ padding: 20px 0; }

.menu-list2 > li .menu-out{ position: absolute; z-index: 99; left: 180px; top: 0; background: #fff; border: 1px solid #ffa93a; display: none; /*width: 480px;*/ padding: 5px 20px; }
.menu-list2 > li:hover .menu-out{ display: block; }
.menu-list1 > li:first-of-type > a > span, .menu-list2 > li:first-of-type > a > span{ border-top: none; }
/*修改*/
.menu-out .menu-list3{ float: left; width: 150px; text-align: left; margin-right: 15px; }
.menu-out .last-list3{ margin-right: 0px; }
/*修改*/
.menu-out .menu-list3 > li{ height: 24px; line-height: 24px; padding-left: 10px; list-style-image: url(../../images/head/dot_gray.png); list-style-position: inside; }
.menu-out .menu-list3 > li > a{ display: inline-block; color: #777; border-bottom: 1px solid #fff; }
.menu-out .menu-list3 > li:hover > a{ color: #ff6000; /*border-bottom: 1px solid #ffa93a;*/ }
/*修改*/
.menu-out .menu-list3 > li.out-title{ font-weight: bold; font-size: 12px; color: #333; border-bottom: 1px dotted #aaa; padding-left: 0; list-style: none;}
/*修改*/
.menu-out .menu-list3 > li.in-title{ padding-left: 10px; color: #333; font-weight: bold; list-style: none;}
.menu-out .menu-list3 > li.in-link{ margin-left: 20px;}

.pop_frame{ position:absolute; left:0; right:0; top:0; bottom:0; width:99.561%; height:601px; margin:auto; display:none}
.shade_div{position:absolute;z-index:1001;background:#000;width:100%;height:100%;top:0;left:0;filter:alpha(opacity=80);-moz-opacity:0.8-khtml-opacity: 0.7;opacity: 0.8;display:none;}


